/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
border:0;
outline:0;
vertical-align:baseline;
background:transparent;
}

a {
	text-decoration: none;
}

table, tr, th, td{
margin:0;
padding:0;
border:0;
outline:0;

}

body {
line-height:1;
}

article,aside,details,figcaption,figure,
,header,hgroup,menu,nav,section {
display:block;
}

nav ul {
list-style:none;
}

blockquote, q {
quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content:â€;
content:none;
}

a {
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

/* change colours to suit your needs */
ins {
background-color:#ff9;
color:#000;
text-decoration:none;
}

/* change colours to suit your needs */
mark {
background-color:#ff9;
color:#000;
font-style:italic;
font-weight:bold;
}

del {
text-decoration: line-through;
}

abbr[title], dfn[title] {
border-bottom:1px dotted;
cursor:help;
}

table {
border-collapse:collapse;
border-spacing:0;
}

/* change border colour to suit your needs */
hr {
display:block;
height:1px;
border:0;
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}

input, select {
vertical-align:middle;
}


@media screen and (max-width: 580px) { 
	.BrPhotographerProject {
		display: none;
	}
}

@media screen and (max-width: 655px) { 
	.BrXaalysProject {
		display: none;
	}
}

.CustomerListColor {
	color: #CCCCCC;
}

.MainColorP {
	color: #00D405;
}

.MainColorP > a {
	color: #00D405;
	border-bottom: solid 1px #00D405 !important;
}

.MarginTop {
	margin-top: 50px;
}

.MarginTop30px {
	margin-top: 30px;
}

.MarginTop40px {
	margin-top: 40px;
}

@media screen and (max-width: 414px) {
	.MarginTop {
	margin-top: 10px;
}
}

@media screen and (max-width: 414px) {
	.MarginTop40px {
	margin-top: 13px;
}
}

.LightPTxt {
	font-weight: 300;
	color: grey;
}

img {
	image-rendering: -webkit-optimize-contrast !important;
}